# Build artifacts
*.d
*.slo
*.lo
*.o
*.obj
*.gch
*.pch
*.so
*.dylib
*.dll
*.lai
*.la
*.a
*.lib
*.exe
*.out
*.app
**/.DS_Store

# Editor and tooling files
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
**/build
build-*/
*.sublime-workspace
**/.vscode
.history/
.cache/
.vs/
.idea/
/cmake-build-*/

# Local environment files
backend/.env
